.ebookworm-search-amazon .a-icon {
  background-image: url("https://m.media-amazon.com/images/S/sash/3-fm1Jbg4IHlyhq.png");
  background-repeat: no-repeat;
  background-size: 512px 256px;
  display: inline-block;
}
.ebookworm-search-amazon .a-icon-star{
  position: relative;
  vertical-align: text-top;
  width: 80px;
  height: 18px;
}

.ebookworm-search-amazon .a-icon.a-star-small-5{background-position:-166px -36px}
.ebookworm-search-amazon .a-icon.a-star-small-4{background-position:-84px -8px}
.ebookworm-search-amazon .a-icon.a-star-small-3{background-position:-84px -48px}
.ebookworm-search-amazon .a-icon.a-star-small-2{background-position:-181px -76px}
.ebookworm-search-amazon .a-icon.a-star-small-1{background-position:-375px -144px}
.ebookworm-search-amazon .a-icon.a-star-small-0{background-position:-278px -100px}
.ebookworm-search-amazon .a-icon.a-star-small-4-5{background-position:-84px -28px}
.ebookworm-search-amazon .a-icon.a-star-small-3-5{background-position:-181px -56px}
.ebookworm-search-amazon .a-icon.a-star-small-2-5{background-position:-99px -68px}
.ebookworm-search-amazon .a-icon.a-star-small-1-5{background-position:-390px -164px}
.ebookworm-search-amazon .a-icon.a-star-small-0-5{background-position:-278px -120px}

a.ebookworm-search-amazon-bookname:link {
  color: #333;
}

.ebookworm-search-amazon-cover {
  float: left;
  margin-right: 5px;
  max-width: 150px;
}

.ebookworm-search-amazon-bookinfo {
  color: #8C8C8C;
}

.ebookworm-bookname {
  font-weight: bold;
  color: #448aff;
}
.ebookworm-block { display: none; }
.ebookworm-like { background-color: #afa; }
.ebookworm-watch { background-color: #ccc; }

/* override mobilism.org */
.jumbotron {
  padding: 10px !important;
}
header .leftArea .logo {
  font-size: 28px !important;
}
header .leftArea .site-info {
  font-size: 8px !important;
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}
.mainnav > ul > li > a {
  font-size: 16px !important;
}
section.social-top {
  display: none;
}

main > div > .space10 {
  display: none;
}
.page-category h3 {
  margin-bottom: 0 !important;
}

@media (max-width: 979px) and (min-width: 768px) {

.jumbotron {
  margin-bottom: 6px !important;
}
header .leftArea {
  float: left !important;
}
header .leftArea .logo {
  font-size: 20px !important;
  line-height: 30px !important;
}

header .logo-transition a::before, header .logo-transition a::after {
  line-height: 0
}

.mainnav {
  padding-top: 30px !important;
}

}
